
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1; 
}


/* Custom Styles for Modal */
.modal-content {
    border-radius: 25px; /* rounded corners*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
}

/* styling buttons to be slightly round */
.modal-content .btn-primary {
    border-radius: 12px; 
    transition: background-color 0.3s ease;
}

.modal-content .btn-primary:hover {
    background-color: #0056b3; 
}

.modal-content .form-control {
    border-radius: 12px; 
}

/* Tabs styling */
.modal-content .nav-tabs .nav-link {
    border-radius: 12px 12px 0 0; 
}

.modal-content .nav-tabs .nav-link.active {
    background-color: #0d6efd; 
    color: white;
}
/* Modal background */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
}
:focus {
    outline: 3px solid #005fcc;
    outline-offset: 2px;
}